CompleteWeatherApp/CompleteWeatherApp/bin
CompleteWeatherApp/CompleteWeatherApp/obj
CompleteWeatherApp/CompleteWeatherApp.Android/bin
CompleteWeatherApp/CompleteWeatherApp.Android/obj
CompleteWeatherApp/CompleteWeatherApp.iOS/bin
CompleteWeatherApp/CompleteWeatherApp.iOS/obj